.progress {
    width:300px;
    height:20px;
    border:1px solid black;
    position:relative;
}

.progress:after {
    content:'\A';
    position:absolute;
    background:rgb(128, 21, 138);
    top:0; bottom:0;
    left:0; 
    width:0%;
}
main {
    display: grid;
    grid-template-columns: 15% 30% 45%;
    grid-gap: 1em;
    margin-top: 50px;
    max-width: 1200px;
  }

item1 {
    grid-area: heroStats;
}
item2 {
    grid-area: nothin;
}
item3 {
    grid-area: targets;
}

.heroStats {
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.blockStats {
    display: grid;
    grid-row-gap: 1px;
    padding: 10px;
    width: 100px; 
    font-family: 'Courier New', Courier, monospace;
}

.targets {
    position: fixed;
    overflow-y:scroll;
    overflow-x:scroll;
    top: 60px;
    right: 0;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace
}

.clearfix {
    overflow: auto
}

img {
  position: fixed;
  background-color: grey;
  top: 0;
  right: 0;
  width: 300px;
  border: 3px solid black;
}

.blockStats {
    padding: 5px;
    font-weight: bold;
}